<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ernesto.testinandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ernesto.testinandroid.Principal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ernesto.testinandroid.FrmMensaje" >
        </activity>
        <activity
            android:name="com.ernesto.testinandroid.Image"
            android:label="@string/title_activity_image" >
        </activity>
        <activity
            android:name="com.ernesto.testinandroid.ElementosListas"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="com.ernesto.testinandroid.Tabs"
            android:label="@string/title_activity_tabs" >
        </activity>
        <activity
            android:name="com.ernesto.testinandroid.TestLogin"
            android:label="Login" >
        </activity>
        <activity
            android:name="com.ernesto.testinandroid.Titular"
            android:label="Login" >
        </activity>

        <receiver
            android:name=".controller.WidgetController"
            android:label="Testing Widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <activity android:name=".WidgetConfig" >
            <intent-filter>
                <action android:name="android.apwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <intent-filter>
            <action android:name="com.ernesto.testinandroid.ACTUALIZAR_WIDGET" />
        </intent-filter>
    </application>

</manifest>